{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"standard",
		"standard-react",
		"plugin:prettier/recommended",
		"prettier/standard",
		"prettier/react",
		"plugin:@typescript-eslint/eslint-recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2021,
		"ecmaFeatures": {
			"legacyDecorators": true,
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "17"
		}
	}
}
